body
{
background : url("../Images/bg.png");
}
.container
{
background : url("../Images/header.png");
width :980px;
margin : 10px auto;
min-height :1560px;
max-height :1560px;
padding :5px 0px;
box-shadow :0px 0px 2px 6px;
}
.header
{
background-color :#fff;
margin :10px 86px;
min-height :160px;
height :160px;
}
.menu
{
background :url("../Images/menu.png");
height :50px;
}
.menu div ul
{
list-style :none;
padding :3px 160px;
}
.menu div ul li
{
display : inline-block;
width : 125px;
height :40px;
line-height : 42px;
}
.menu div ul li :hover
{
background :url("../Images/button.png");
font-size :19px;
}
.menu div ul li a
{
text-decoration:none;
font-family :"Adobe Hebrew";
color :#d817a4;
font-size :16px;
padding :10px 13px;
}
.fooder
{
background-color :#589f99;
color :#fff;
font-style :italic;
font-size :16px;
height:70px;
margin : 1250px 0px;
}
.fooder a
{
text-decoration :none;
}
.gtt
{
float : right;
margin :-50px 70px;
}