a:hover, a:active, a:visited, a:link {
  text-decoration: none;
}

.bodycolor{
  background-color: #18BC9C;
}

.centercol{
  background-color: black;
}

.endcol{
  background-color: #113a50;
}


.name{
color:black;
font-size:50px;
font-family: 'Open Sans', sans-serif;
}

.mobile{
color:black;
font-size:18px;
margin-bottom:10px;
font-family: Impact, Charcoal, sans-serif;
}

.words{
color:black;
font-size:24px;
margin-bottom:10px;
font-family: 'Open Sans', sans-serif;
}


.border {
  background-color: #fff;
  color: #222;
  padding: 10px;
  padding-left: 28px;
  font-size: 25px;
  letter-spacing: 10px;
}


.img50 {
  height: 45px;
  width: 150px;
}
.img100 {
  height: 55px;
  width: 330px;
}

.dow{
color:#ffffff;
font-size:16px;
}
